* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.navbar{
  height: 60px;
  background-color:#0f1111;
  color: white;
  display:flex;
  align-items: center;
  /* justify-content: center; */
}
.nav-logo{
  height: 50px;
  width: 150px;
}
.logo{
  background-image: url("Screenshot\ 2024-07-08\ 125308.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border{
  border: 1.5px solid transparent
}
.border:hover
{
  border: 1.5px solid white;
}
.add-icon{
  display:flex;
  align-items: center;
  
}
.nav-address i{
        margin-left: 6px;
        font-size: 12px;
}
.nav-address p{
  font-size: 12px;
}
/* box3 */
.nav-search{
  justify-content: space-evenly;
  display: flex;
  height: 40px;
  width: 620px;
  /* background-color: orange; */
  border-radius: 4px;
}
.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input{
 
  width: 100%;
  font-size: 1rem;
  border: none;
  
}
.search-icon{
  width: 45px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(239, 165, 63);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.nav-search:hover{
  border: 2px solid orange;
}
/* box4 */
span{
  margin-left: 60px;
  font-size: 12px;
  text-align: center;
}
.nav-signin{
  margin-left: 20px;
}
.nav-return{
  margin-left: 20px;
}
.signin-two{
  font-size: 14px;
  margin-left: 60px;
  font-weight: 700;
  text-align: center;
}
.nav-cart i {
  margin-left: 25px;
  font-size: 30px;
}
.nav-cart{
  font-size: 0.85rem;
  font-weight: 700;
  /* border: 20px; */
}
.panel{
  height: 40px;
  background-color:#222f3d ;
  display:flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  
}
.panel-ops {
  display:inline;
  margin-left: 20px;
  display: flex;
}
.panel-ops1{
  margin-left: 20px;
}
.panel-ops2{
margin-left: 20px;
}
.panel-ops4{
  margin-left: 20px;
}
.panel-ops3{
  margin-left: 20px;
}
.panel-ops5{
  margin-left: 20px;
}
.panel-ops
.panel-ops{
  width: 70%;
  font-size: 0.85rem;
}
.panel-deals{
  font-size: 0.9rem;
  font-weight: 700
  ;

}
/* HERO-SECTION */
.hero-section{
 background-image: url(hero.jpg.jpg) ;
  height: 350px;
  background-size: cover;
}

/* sho-section */
.shop-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;

}
.box{
  border: 2px solid black;
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
}
.box-img{
  height:300px;
 
  /* background-size: cover; */
  background-size:cover;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 10px;
}

.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
  
}
.box-content p{
  color: aquamarine;
}
/* footer */
footer{
  margin-top: 15px ;
}
.foot-panel1{
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.foot-panel2{
  background-color: #131A22;
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
 
}
ul{
  margin-top: 20px;
}
ul li{
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
  margin-top: 10px;
}

.foot-panel3{ 

  background-color: #131A22;
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo{
  background-image: url("Screenshot\ 2024-07-08\ 125308.png");
  background-size: cover;
  height: 59px;
  width: 170px;
  
} 
.foot-panel4{
  background-color: #0f1111;
  color: white;
  height: 76px;
  
.pages{
  font-size: 0.7rem;
  text-align: center;
  padding-top: 25px; 
}
.copyright{
  padding-top: 5px;
  font-size: 0.7rem;
  text-align: center;

}